.nav-items {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
}

.nav-items a {
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #091627;
    padding: 14px 10px;

}

.nav-items a:focus {
    color: #F04545;
    transition: 0.3s ease-in;
}

.last-child {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #FFFFFF !important;
    background: rgba(240, 69, 69, 0.95);
    border-radius: 100px;
    padding: 14px 36px;
    border: 1px solid #F04545;
}

.last-child a {
    color: white !important;
    padding: 14px 36px;
}

.last-child a:hover,
.focus {
    color: #091627 !important;

}

.last-child:hover {
    background-color: #09162700 !important;
    border: 1px solid #F04545;
    color: #091627 !important;
    transition: 0.3s;
}

.last-child a:focus {
    border-bottom: 0px solid rgba(255, 0, 0, 0);
    color: #091627 !important;
}

@media only screen and (max-width: 667px) {
    .nav-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 25px;

    }

    .nav-items a {
        font-size: 17px;
        line-height: 27px;
        margin: 0;
        padding: 10px;
    }

    .last-child {
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        padding: 10px 12px;

    }
}

@media only screen and (max-width:991px) and (min-width:668px) {}

@media only screen and (max-width: 1200px) and (min-width:992px) {}