.review-start {
    margin: 0 0 0 0;
}

.star-review p {
    text-align: left;
}

.icon-custom {
    color: #F6D88C;
}

.star-review img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    background: #F6D88C;
}

.all-review {
    /*  margin: 0px auto 350px auto; */
}

.star-review p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.text-review {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #091627;
    text-align: left;
    margin-top: 25px;
}

.user {
    display: flex;
    align-items: center;

}

.user img {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    margin: 10px 15px 0px 0px;
}

.user h6 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #0D0E16;
    text-align: left;
    margin: 0;
}

.user p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #56565C;
    opacity: 0.6;
    text-align: left;
    margin: 0;
}

.review-left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 667px) {
    .latest-head {
        text-align: center;
        padding: 0 25px;
    }

    .star-review {
        padding: 0px 25px;
    }

    .star-review p {
        font-size: 17px;
        line-height: 30px;
        text-align: center;
    }

    .text-review {
        line-height: 32px;
        color: #091627;
        text-align: center;
        font-size: 25px;
        margin-top: 25px;
    }

    .user {
        margin-bottom: 30px;
        justify-content: center;

    }

    .user img {
        width: 54px;
        height: 54px;
        border-radius: 100%;
        margin: 10px 15px 0px 0px;
    }

    .review-left-image {
        width: 97%;
        height: 97%;
    }

}

@media only screen and (max-width:991px) and (min-width:668px) {
    .latest-head {
        text-align: center;
        padding: 0 25px;
    }

    .star-review {
        padding: 0px 25px;
    }

    .star-review p {
        font-size: 17px;
        line-height: 30px;
        text-align: center;
    }

    .text-review {
        line-height: 40px;
        text-align: center;
        font-size: 30px;
        margin-top: 25px;
    }

    .user {
        margin-bottom: 30px;
        justify-content: center;

    }


    .review-left-image {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1200px) and (min-width:992px) {}