.nav {
    --bs-nav-link-color: #091627;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.nav-tabs {
    --bs-nav-tabs-border-width: px;
    --bs-nav-tabs-link-active-color: white;
    transition: all 0.3s ease-in;
    --bs-nav-tabs-link-active-bg: #f14e4e;
    margin: 0 0px;
    border-bottom: 1px solid #515d6d39;
    transition: all 0.3s ease-in;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-radius: 30px;
    padding: 16px 24px;
    margin: -10px 0 20px 0;
}

.show-allButton {
    background-color: #F04545;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width: 667px) {
    .nav-tabs {
        justify-content: left;
        width: 100%;

    }

    .nav-item {
        margin: 0px 0 20px 0;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-radius: 30px;
        padding: 12px 15px;
        margin: 0px 0 0 0;
    }

    .tabs-nav {
        width: 56%;
        margin: auto;
    }

}

@media only screen and (max-width:991px) and (min-width:668px) {

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-radius: 30px;
        padding: 16px 24px;
        margin: 0px 0 0 0;
    }

}

@media only screen and (max-width: 1200px) and (min-width:992px) {}