.banner-home {
    background-image: url(../../../Images/bannerhome.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 65%;
}

.hero-head {
    font-family: 'Poppins', sans-serif;
    color: #091627;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
}

.hero-head span {
    background-image: url(../../../Images/spanBold.png);
    background-repeat: no-repeat;
    background-position: bottom;
    /* border-bottom: 4px solid #F14E4E; */
}

.hero-description {
    font-family: 'Inter', sans-serif;
    color: #515D6D;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 18px;
}

.hero-button {
    margin-top: 55px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.hero-button1 {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    background-color: #F04545;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #F04545;
}

.hero-button2 {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    background: #091627;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #091627;
}

.hero-button1:hover {
    background-color: #09162700;
    border: 1px solid #F04545;
    color: #091627;
    transition: 0.3s;
}

.hero-button2:hover {
    background-color: #09162700;
    border: 1px solid #091627;
    color: #091627;
    transition: 0.3s;
}

.my-border {
    border-radius: 16px;
}

.my-border img:hover {}

@media only screen and (max-width: 667px) {
    .banner-home {
        background-image: url(../../../Images/bannerhome.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: 60%;
    }

    br {
        display: none;
    }

    .hero-head {
        font-weight: 500;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        padding: 0 25px;
    }

    .hero-description {
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
        padding: 0 25px;
    }

    .hero-button {
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        padding: 60px 0px 0 0;
    }

    .hero-button1 {
        font-weight: 300px;
        font-size: 17px;
        line-height: 30px;
        padding: 12px 25px;
    }

    .hero-button2 {
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        background: #091627;
        padding: 12px 25px;
    }

}

@media only screen and (max-width:991px) and (min-width:668px) {
    .banner-home {
        background-image: url(../../../Images/bannerhome.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: 58%;
    }

    br {
        display: none;
    }

    .hero-head {
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 30px;
        text-align: center;
        line-height: 40px;
    }

    .hero-description {
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        margin-top: 15px;
        padding: 0 25px;
    }

    .hero-button {
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        padding: 60px 0px 0 0;
    }

    .hero-button1 {
        font-weight: 300px;
        font-size: 17px;
        line-height: 30px;
        padding: 12px 25px;
    }

    .hero-button2 {
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        background: #091627;
        padding: 12px 25px;
    }
}

@media only screen and (max-width: 1200px) and (min-width:992px) {}