.service {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.service-head {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(240, 69, 69, 0.95);
    margin: 0 0 16px 0px;
}

.service-main {
    font-family: 'Poppins', sans-serif;
    color: #091627;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    line-height: 125%;
}

.service-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

.service-name {
    font-family: 'Poppins', sans-serif;
    color: #091627;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 16px;
}

.service-des {
    font-family: 'Inter', sans-serif;
    color: #515D6D;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-top: 8px;
}

.service-new {
    padding: 40px 20px 23px;
    border-radius: 12px;
    box-shadow: 0px 16px 15px 4px #bcc5d014;
}

.service-head-image {
    padding: 20px;
    border: 1px solid black;
    border-radius: 60px;
}

.service-new:hover .service-head-image {
    background-color: #337ee714;
    transition: all 0.3s ease-in;
    border: 1px solid #337ee714;
}


.service-new:hover {
    box-shadow: 0px 16px 15px 4px #8bb8f514;
    /* 
    box-shadow: 0px 15px 0px 0px solid #2d1919; */
    padding: 40px 20px 23px;
    border-radius: 12px;
    transition: 0.3s ease-in;
}

@media only screen and (max-width: 667px) {
    .service {
        width: 100%;
        padding: 150px 0px 0px 0px;
    }

    .service-head {
        margin: -120px 0 10px 0px;
    }

    .service-main {
        font-size: 25px;
    }

    .service-items {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 60px;
        padding: 0 20px;
    }

    .service-name {
        font-size: 22px;
        line-height: 30px;
        margin-top: 16px;
    }
}

@media only screen and (max-width:991px) and (min-width:668px) {
    .service {
        width: 100%;
        padding: 100px 0px 0px 0px;
    }

    .service-head {
        margin: 0px 0 10px 0px;
    }

    .service-main {
        font-size: 25px;
    }

    .service-items {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 60px;
        padding: 0 20px;
    }

    .service-name {
        font-size: 22px;
        line-height: 30px;
        margin-top: 16px;
    }
}

@media only screen and (max-width: 1200px) and (min-width:992px) {}